body {
	color: #323333;
	background-color: #C4C4C4;
}

#banner {
	width: 100vw;
	margin-left: -8px;
	margin-top: -8px;
	height: 150px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	box-shadow: 5px 5px 10px #C2C2C2;
}

#topbanner {
	height: 100px;
	text-align: center;
	background-color: #458FFF;
	line-height: 100px;
	box-shadow: -5px -5px 1px #fff inset;
	font-size: 50px;
	text-shadow: 1px 1px black;
}

#bottombanner {
	background-color: #fff;
	height: 50px;
	line-height: 50px;
	box-shadow: -5px -5px 10px #ccc inset;
}

#contentarea {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	min-height: 70vh;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #19FF19;
}

.green {
	display: inline;
	color: #19FF19;
}

#navigation {
	float: left;
}

#login {
	float: right;
}

.middlewidth {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}